################################################################################
# {{ ansible_managed }}
################################################################################

ANSIBLE_CONSUL_VERSION={{ version }}
PATH="$PATH:{{ path_binaries }}"

################################################################################
# {{ ansible_managed }}
################################################################################
